SECRET_KEY=change-this-in-development
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost
# Leave empty for local SQLite. Example PostgreSQL URL:
# DATABASE_URL=postgresql://username:password@hostname:5432/rescue_bite
DATABASE_URL=postgresql://rescue_bite_db_user:36VnPBCmnBLiuzpSqANC8ZtjD5yIvJN4@dpg-dajbvk67bikc73bg26m0-a/rescue_bite_db
FOOD_WEIGHT_KG=0.5
CO2_KG_PER_KG_FOOD=2.0
